*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 100%, 74%);
    background-image: url("bg-intro-desktop.png");
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    flex-wrap: wrap;
    margin: 10rem;
    /* outline: 2px solid black; */
}

.text, .form{
    width: 450px;
    /* outline: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.form{
    width: 425px;
}

.text div:first-child{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
}

.text div:nth-child(2){
    font-size: 0.80rem;
    margin-top: 1.3rem;
    line-height: 1.4rem;
}

.trialText{
    /* outline: 2px solid black; */
    border-radius: 0.5rem;
    background-color: hsl(248, 32%, 49%);
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.80rem;
    box-shadow: 0 6px rgba(0,0,0,0.15);
}

.trialText span{
    font-weight: 600;
}

.formReal{
    background-color: white;
    padding: 2rem;
    margin-top: 1.5rem;
    border-radius: 0.5rem;
    width: 100%;
    box-shadow: 0 6px rgba(0,0,0,0.15);
}

.form form{
    display: flex;
    flex-direction: column;
}

input{
    width: 100%;
    margin-top: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 0.85rem 0.85rem 0.85rem 1.5rem;
    border: 0.1px solid rgba(177,172,220,0.3);
    border-radius: 0.3rem;
    font-size: 0.70rem;
}

.field#firstName input{
    margin-top: 0.5rem;
}

input[type = submit]{
    background-color: hsl(154, 59%, 51%);
    color: white;
    padding: 0.75rem;
    border: none;
    box-shadow: 0 3px  hsl(154, 52%, 47%);
}

.termS{
    font-size: 0.5rem;
    margin-top: 0.75rem;
    color: hsl(246, 25%, 77%);
    text-align: center;
    width: 100%;
}

.termS span{
    font-weight: 700;
    color: hsl(0, 100%, 74%);
}

.formError{
    display: block;
    color: hsl(0, 100%, 74%);
    font-size: 0.55rem;
    width: 100%;
    text-align: right;
    /* outline: 2px solid black; */
    margin-top: 0.35rem;
    font-weight: 600;
}

@media (max-width: 425px){

    body{
        background-image: url("bg-intro-mobile.png");
    }
    
    main{
        align-items: flex-start;
    }

    section{
        /* outline: 2px solid black; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:0;
        padding: 3rem;
        /* margin: 2.5rem; */
    }

    .text, .form{
        padding: 0;
        width: 100%;
        text-align: center;
    }

    .text div:first-child{
        font-size: 2.2rem;
    }

    .form{
        margin-top: 2rem;
    }
}